# Ensure only C++ and CMake are treated in GitHub Linguist
*.cpp linguist-language=C++
*.h linguist-language=C++
CMakeLists.txt linguist-language=CMake
*.cmake linguist-language=CMake
# Exclude other file types from being counted in language statistics
* linguist-vendored